extends ../layout.pug
block variable
    - bodyClass = "task"
block styles 
    link(rel="stylesheet", href="/css/task.css")
block title 
    |PRIVATE TASK MANAGER
block body
    #ts-todo-app
        .head-banner 
            p ts-todo-app
        .content 
            header
                h2 タスク一覧
            .task-list 
                - for (let i=0; i<10; i++)
                    .task-content 
                        p.task-title task name 
                        .task-control-group
                            button(type="submit") 日付を追加
                            button(type="submit") 完了
                            button(type="submit") 破棄
        .task-input-form 
            label(for="name")
            input(type="text", name="name")
            button(type="submit") 保存
        footer.center.block.text フッター
